@import url("https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800&display=swap");
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,900&display=swap");
* {
  box-sizing: border-box; }

h1, h2, h3, h4, h5, h6, p, ul, header, nav, section, footer {
  margin: 0;
  padding: 0; }

html, body {
  max-width: 100%;
  overflow-x: hidden;
  font-size: 16px; }

body {
  padding: 0;
  margin: 0;
  min-height: 100vh;
  font-family: "Montserrat", sans-serif; }

object, embed {
  pointer-events: none; }

a:hover {
  text-decoration: none; }

select::-ms-expand {
  display: none; }

.m-top-10 {
  margin-top: 10px; }

.header.topnav {
  background: #333;
  color: #ffffff; }

.upper-half-header {
  padding: 0.5% 0 1% 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.title-logo {
  text-transform: uppercase;
  font-size: 1.625rem;
  letter-spacing: 1px;
  font-weight: 700;
  font-family: "Open Sans", sans-serif; }

.titles-logo {
  padding-left: 0;
  padding-right: 5%; }
  .titles-logo img {
    width: 100%; }

.motors-title-logo {
  color: #005EAA; }
  .motors-title-logo .text-title-address {
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 0;
    font-family: "Open Sans", sans-serif;
    line-height: 1.1rem;
    margin-left: 2px; }

.title-address img, .title-contact img {
  margin-right: 6px; }

.title-address img {
  width: 7%; }

.title-contact img {
  width: 16%; }

.number-phone h4 {
  margin-bottom: 0; }

.title-address, .title-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  float: left;
  padding: 0; }
  .title-address h4, .title-contact h4 {
    font-family: "Open Sans", sans-serif;
    font-size: 1.05rem; }

.stars-block {
  color: #FFA500;
  font-size: 1rem; }

.title-logo-bottom {
  margin: 0 1.5rem;
  font-family: "Open Sans", sans-serif;
  font-size: 1.188rem;
  font-weight: 600; }

.number-phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-left: 2px; }

.upper-half-header .col-md-2 {
  -ms-flex: 0 0 12%;
  flex: 0 0 12%;
  max-width: 12%;
  margin-right: 1vw; }

.sales-text {
  font-weight: 400;
  font-size: 0.95rem;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  line-height: 0.7rem; }

.sales-number {
  font-family: "Open Sans", sans-serif;
  font-weight: 700; }

.social-icon img {
  pointer-events: none;
  cursor: pointer; }

.social-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: flex-end; }
  .social-icon ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style-type: none; }
    .social-icon ul li {
      margin-right: 17px;
      transition: 0.4s; }
      .social-icon ul li:last-child {
        margin-right: 0px; }
    .social-icon ul a {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }

.social-icon.stars-block.col-md-1 {
  justify-content: flex-start; }

@media (max-width: 991px) {
  .upper-half-header .sales-number {
    white-space: nowrap; }
  .upper-half-header .text-title-address {
    font-size: 14px; } }
.bottom-half-header {
  background-color: #ebedf0; }

.navbar {
  padding: 0; }
  .navbar ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    list-style-type: none;
    margin-bottom: 0; }
    .navbar ul li {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      transition: 0.5s; }
      .navbar ul li .fa-chevron-down {
        color: #000000; }
      .navbar ul li:hover {
        background-color: #005EAA;
        cursor: pointer; }
        .navbar ul li:hover .h6-title, .navbar ul li:hover .fa-chevron-down {
          color: #ffffff; }
      .navbar ul li.active {
        background-color: #005EAA; }
        .navbar ul li.active .h6-title {
          color: #ffffff; }
      .navbar ul li a {
        text-decoration: none;
        color: #000000; }
        .navbar ul li a:hover {
          color: #ffffff; }
      .navbar ul li .nav-link {
        text-transform: uppercase;
        font-family: "Montserrat", sans-serif;
        font-weight: 600;
        font-size: 13px;
        color: #000000;
        text-align: center;
        display: inline-block; }

@media (min-width: 768px) and (max-width: 991px) {
  .navbar ul li .nav-link {
    font-size: 10px; } }
@media (min-width: 768px) {
  .mobile-block, .mobile-section-under-header, .accordion__wrapper {
    display: none; }

  .mobile-close-btn {
    display: none; }

  .navbar-expand-md .navbar-nav .nav-link {
    padding-right: 0.5vw;
    padding-left: 0.5vw; } }
@media only screen and (max-width: 767px) {
  .upper-half-header {
    display: none; }

  .mobile-block, .mobile-section-under-header {
    display: flex; }

  .mobile-close-btn {
    display: flex; }

  .navbar {
    background-color: #ebedf0;
    position: fixed;
    padding: 0;
    z-index: 1030;
    right: 0;
    left: 0;
    border-radius: 0;
    top: 0;
    border-width: 0 0 1px; }

  .mobile-block-items .navbar-toggler {
    outline: none;
    padding: 0;
    width: 100%;
    text-align: center; }
  .mobile-block-items .far, .mobile-block-items .fas {
    display: block;
    color: #ffffff;
    font-size: 17px; }
  .mobile-block-items .fas.fa-star {
    color: #ffffff;
    font-size: 17px; }
  .mobile-block-items span {
    color: #ffffff;
    font-size: 9px;
    text-transform: uppercase; }

  .navbar-header {
    display: flex;
    width: 100%; }

  .mobile-menu, .mobile-search, .mobile-reserve, .mobile-phone, .mobile-favourite {
    padding-top: 2vw; }

  .mobile-menu {
    background: #014563;
    width: 20%;
    border-bottom: 1px solid #ffff; }
    .mobile-menu .fa-bars {
      font-size: 20px; }

  .mobile-search {
    background: #D20709;
    width: 20%;
    border-right: 1px solid #ffff;
    border-bottom: 1px solid #ffff; }

  .mobile-reserve {
    background: #323232;
    width: 19%;
    border-right: 1px solid #ffff;
    border-bottom: 1px solid #ffff; }

  .mobile-phone {
    background: #323232;
    width: 19%;
    border-right: 1px solid #ffff;
    border-bottom: 1px solid #ffff; }
    .mobile-phone .fa-phone-alt {
      font-size: 18px; }

  .mobile-favourite {
    background: #323232;
    width: 22%;
    border-right: 1px solid #ffff;
    border-bottom: 1px solid #ffff; }

  .menubar {
    background-color: #333333;
    position: fixed;
    top: 0;
    transition: all 0.3s ease-out;
    height: 100%;
    width: 100%;
    overflow-y: scroll; }

  .menu-search {
    background-color: #F7F7F9;
    position: fixed;
    top: 0;
    transition: all 0.3s ease-out;
    height: 100%;
    width: 100%;
    overflow-y: scroll; }

  .navbar-nav .nav-item .nav-link {
    color: #ffffff; }

  .navbar ul {
    align-items: flex-start; }
    .navbar ul li {
      padding: 1.5vw 0 1.5vw 5vw;
      border-bottom: 1px solid #ffffff;
      width: 100%; }
    .navbar ul li:nth-child(2) {
      border-top: 1px solid #ffffff !important; }

  .mobile-close-btn {
    background: #014563;
    display: flex;
    justify-content: space-between;
    padding: 3vw 3vw 3vw 5vw !important;
    border-radius: none; }
    .mobile-close-btn span {
      text-transform: uppercase;
      color: #ffffff;
      font-size: 13px !important;
      vertical-align: middle;
      padding: 3vw 1vw 3vw 0; }
    .mobile-close-btn .fa-times {
      padding-right: 1vw; }

  .mobile-section-under-header {
    padding: 14vw 2vw 1vw 2vw; }

  .active-menu {
    position: fixed; }

  .active-search {
    position: fixed; }

  .accordion__title {
    background-image: url("../img/home/arrow-down.png");
    background-position: center right 10px;
    background-repeat: no-repeat; }

  .menu-search .card {
    background-color: #F7F7F9;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid #DADCDD !important; }
  .menu-search .card-header {
    padding: 0; }
  .menu-search .accordion__button {
    padding: 0.75rem 1.25rem;
    text-transform: uppercase;
    width: 100%;
    text-align: left; }
  .menu-search .mobile-search-btn {
    background: #D20709;
    display: flex;
    justify-content: space-between;
    padding: 3vw 4.5vw 3vw 3vw !important;
    border-radius: 0;
    border: none;
    text-transform: uppercase; }
    .menu-search .mobile-search-btn span {
      font-size: 13px;
      padding-left: 2vw; } }
@media (orientation: landscape) {
  .mobile-section-under-header {
    padding: 11vw 2vw 2vw 2vw;
    justify-content: center; } }
@media (min-width: 768px) and (max-width: 1000px) {
  .titles-logo img {
    width: 85%; }

  .sales-number {
    font-size: 1.5vw; } }
#banner {
  order: 1;
  position: relative;
  text-align: center; }
  #banner .top-img {
    position: absolute;
    bottom: 0;
    margin-bottom: 14.35%;
    width: 100%;
    height: 5.7%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center; }
    #banner .top-img img {
      width: 35%;
      position: absolute; }
    #banner .top-img .title-top-img {
      color: white;
      text-transform: uppercase;
      z-index: 1; }
  #banner #banner-image {
    text-align: center; }
    #banner #banner-image img {
      width: 100%; }
  #banner .advanced-text {
    color: white;
    font-family: Arial, sans-serif;
    text-align: right;
    margin-top: 30px;
    position: absolute;
    width: 100%;
    text-decoration: underline;
    padding: 0 15px; }
  #banner #search-box {
    width: 100%;
    height: 40%;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    background: rgba(34, 34, 34, 0.85);
    display: flex;
    align-items: center; }
    #banner #search-box .container {
      position: relative; }
    #banner #search-box h3 {
      color: #fff;
      text-align: left;
      margin: 13px 0 7px 0;
      font-size: 1.5rem;
      font-family: "Montserrat", sans-serif; }
      #banner #search-box h3 img {
        height: 20px; }
    #banner #search-box .col-md-2 {
      text-align: center;
      padding: 0 1px; }
      #banner #search-box .col-md-2 select {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background-image: url(../img/home/arrow-down.png);
        background-position: center right 10px;
        background-size: 8%;
        background-repeat: no-repeat;
        background-color: white;
        border-radius: 0;
        padding-left: 20px;
        font-family: Arial, sans-serif; }
      #banner #search-box .col-md-2 button {
        background: #D10609;
        border: none;
        border-radius: 0;
        color: white;
        font-family: Arial, sans-serif;
        text-transform: uppercase; }
        #banner #search-box .col-md-2 button img {
          width: 25px;
          position: relative;
          top: -1px;
          left: -15px; }
      #banner #search-box .col-md-2 button, #banner #search-box .col-md-2 select {
        width: 100%;
        height: 55px;
        border: 0; }
        #banner #search-box .col-md-2 button .mobile-word, #banner #search-box .col-md-2 select .mobile-word {
          display: none; }

@media only screen and (max-width: 768px) {
  #banner #banner-image {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    #banner #banner-image img {
      height: 200px;
      width: auto; }
  #banner #search-box {
    position: static;
    background: black;
    padding: 2% 5% 2%; }
    #banner #search-box .container {
      padding: 0; }
      #banner #search-box .container h3 {
        font-weight: 400;
        font-size: 22px;
        margin-bottom: 13px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center; }
        #banner #search-box .container h3 img {
          margin-right: 9px; }
      #banner #search-box .container form {
        padding: 0 7px; }
      #banner #search-box .container .col-md-3 {
        margin-bottom: 16px; }
        #banner #search-box .container .col-md-3 select {
          font-size: 12.5px;
          height: 43px; }
        #banner #search-box .container .col-md-3 button {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center;
          text-transform: uppercase;
          font-weight: 600; }
          #banner #search-box .container .col-md-3 button .mobile-word {
            display: block;
            margin-left: 5px; }
          #banner #search-box .container .col-md-3 button img {
            display: none; } }
.featured .title-featured {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  text-align: center;
  width: 100%;
  font-weight: 300;
  font-size: 1.9rem;
  margin: 3% 0 2% 0; }

#special-offers {
  order: 3;
  margin-bottom: 2%; }
  #special-offers .title-special-offer {
    font-size: 1.6rem;
    text-align: center;
    margin: 1.5% 0; }
  #special-offers .owl-carousel {
    padding: 0 3%; }
    #special-offers .owl-carousel .owl-nav.disabled {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      justify-content: space-between;
      pointer-events: none; }
      #special-offers .owl-carousel .owl-nav.disabled button {
        pointer-events: auto; }
        #special-offers .owl-carousel .owl-nav.disabled button img {
          pointer-events: none;
          width: 65px;
          height: 65px; }

#special-offers .owl-carousel .owl-stage-outer {
  width: 102%; }

.owl-carousel {
  display: block; }

.fas.fa-star {
  color: #FFC207; }

#special-offers .owl-carousel .owl-stage-outer {
  width: 102%; }

.car-tile {
  border-radius: 7px;
  padding: 0; }
  .car-tile a, .car-tile a:hover {
    color: black;
    text-decoration: initial; }
  .car-tile .car-title {
    padding: 8px 3px;
    margin-top: 1px;
    border: 1px solid #808080;
    border-bottom-right-radius: 7px;
    border-bottom-left-radius: 7px; }
    .car-tile .car-title .titles-car-card {
      padding: 0 7px; }
    .car-tile .car-title h2, .car-tile .car-title p {
      font-size: 16px; }
    .car-tile .car-title h2 {
      font-weight: 700;
      text-align: start; }
    .car-tile .car-title p {
      font-family: "Open Sans", sans-serif;
      line-height: 21px;
      font-weight: 400; }
  .car-tile .car-image {
    position: relative; }
    .car-tile .car-image img {
      width: 100%; }
    .car-tile .car-image .car-like, .car-tile .car-image .car-image-counter {
      position: absolute;
      bottom: 0;
      left: 0; }
    .car-tile .car-image .car-like {
      text-align: right;
      right: 0;
      z-index: 101;
      cursor: pointer;
      width: auto;
      display: flex;
      justify-content: flex-end;
      top: 0;
      margin: 0 auto; }
      .car-tile .car-image .car-like img {
        width: auto;
        max-height: 30px;
        margin: 2px; }
    .car-tile .car-image .car-image-counter {
      color: #fff;
      padding: 7px 12px; }
    .car-tile .car-image .car-image-counter-home {
      display: flex;
      align-items: center; }
      .car-tile .car-image .car-image-counter-home img {
        margin-right: 4px;
        width: 24px;
        height: 16.84px; }
  .car-tile .car-price {
    font-size: 22px; }
    .car-tile .car-price .row {
      margin: 0; }
    .car-tile .car-price .col-6 {
      background: #ECEBE9;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      padding: 4% 0; }
      .car-tile .car-price .col-6:first-child {
        border-right: 1px solid #fff;
        font-weight: 600;
        font-family: Arial Rounded MT, sans-serif;
        border-top-left-radius: 7px; }
      .car-tile .car-price .col-6:last-child {
        border-left: 1px solid #fff;
        color: #00C4FC;
        font-weight: 600;
        font-family: Arial Rounded MT, sans-serif;
        line-height: 15px;
        border-top-right-radius: 7px; }
        .car-tile .car-price .col-6:last-child p {
          font-size: 9px;
          font-weight: 400;
          font-family: Arial, sans-serif; }
  .car-tile .car-desc {
    padding: 6% 0; }
    .car-tile .car-desc .row {
      margin: 0; }
    .car-tile .car-desc .col-6 {
      margin: 3% 0;
      padding: 0 8%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      .car-tile .car-desc .col-6 img {
        width: 21%;
        max-height: 18px; }
      .car-tile .car-desc .col-6 h6 {
        margin-left: 8px;
        font-size: 11px;
        font-family: Arial, sans-serif;
        color: #777777;
        text-transform: capitalize; }

@media only screen and (max-width: 768px) {
  .owl-nav {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    pointer-events: none; }
    .owl-nav button {
      pointer-events: auto; }
      .owl-nav button img {
        pointer-events: none; }

  #special-offers {
    padding: 0 7px; }
    #special-offers .owl-carousel .owl-stage-outer {
      height: auto; }
    #special-offers .title-special-offer {
      font-weight: 500;
      text-align: start;
      font-size: 23px;
      margin: 5% 15px; } }
.apply {
  background-image: url("../img/home/ban.png");
  min-height: 700px;
  background-size: 100% 100%;
  display: flex;
  align-items: center;
  background-position: bottom;
  background-repeat: no-repeat; }

.text-half-apply {
  padding-left: 21%; }

.button-half-apply, .text-half-apply {
  top: -40px; }

.button-half-apply button {
  background: #D10609;
  padding: 15px 75px;
  text-transform: uppercase;
  color: white;
  border: 0;
  border-radius: 7px; }

.button-half-apply {
  padding-top: 11%; }

.title-apply {
  font-weight: 800;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 40px;
  font-size: 17px; }

.text-p-apply {
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  padding-right: 5%; }

.apply-description {
  background-color: #3C3C40;
  min-height: 300px;
  display: flex;
  align-items: center;
  padding-top: 5%; }
  .apply-description .text-half-apply-description {
    color: white; }

.under-apply-section {
  padding: 3% 0; }
  .under-apply-section .text-half-under-apply-section {
    display: flex;
    flex-direction: column;
    justify-content: center; }
    .under-apply-section .text-half-under-apply-section p {
      margin-bottom: 20px;
      font-size: 14px;
      font-family: "Open Sans", sans-serif; }
  .under-apply-section .img-under-apply-section img {
    width: 100%; }

.pay-us-visit {
  background-color: #515151;
  color: #ffffff;
  padding: 2% 0 5% 0; }
  .pay-us-visit .container-section {
    display: flex;
    justify-content: space-around; }
  .pay-us-visit .title-pay-us-visit {
    font-size: 18px;
    text-transform: uppercase;
    font-family: Arial, sans-serif;
    text-align: center; }
  .pay-us-visit .col-lg-6 {
    margin-top: 35px; }
    .pay-us-visit .col-lg-6 p, .pay-us-visit .col-lg-6 h6 {
      text-align: center;
      padding-right: 15px; }
    .pay-us-visit .col-lg-6 img {
      width: 100%; }
    .pay-us-visit .col-lg-6 p {
      font-family: "Open Sans", sans-serif;
      margin-bottom: 15px;
      font-weight: 300;
      font-size: 17px; }
    .pay-us-visit .col-lg-6 h6 {
      font-family: Arial, sans-serif;
      text-transform: uppercase;
      font-size: 18px; }
    .pay-us-visit .col-lg-6 p.text-under-hours {
      font-size: 16px;
      font-weight: 300;
      font-family: Arial, sans-serif; }
  .pay-us-visit .card-body {
    padding: 1.25rem 0; }
    .pay-us-visit .card-body ul {
      list-style: none;
      font-family: "Montserrat", sans-serif;
      color: #ffffff; }
      .pay-us-visit .card-body ul li {
        font-size: 18px;
        margin-bottom: 10px; }
        .pay-us-visit .card-body ul li .col-6 {
          font-family: Arial, sans-serif;
          text-transform: uppercase;
          font-size: 17px; }

.footer {
  background-color: #333;
  color: #ffffff;
  padding: 5% 0; }
  .footer .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    .footer .container .established {
      font-family: "Times New Roman", sans-serif;
      margin-top: 7px; }
    .footer .container .title-number, .footer .container .title-address {
      font-family: "Open Sans", sans-serif; }
    .footer .container .title-number {
      margin-top: 20px; }
    .footer .container .title-address {
      margin: 15px 0;
      text-align: center; }

@media (max-width: 768px) {
  #banner .top-img {
    bottom: initial;
    margin-bottom: 0;
    margin-top: -8.5vw; }
    #banner .top-img .title-top-img {
      font-size: 5vw; }
    #banner .top-img img {
      width: 92%; }
    #banner .top-img .advanced-text {
      display: none; }

  #banner #search-box {
    background-color: #222;
    padding: 7% 5% 9% 5%; }
    #banner #search-box .col-md-2 {
      margin-bottom: 20px; }
      #banner #search-box .col-md-2 select {
        background-image: none;
        border-radius: 7px; }
    #banner #search-box .year, #banner #search-box .body-type {
      display: none; }

  #banner #search-box .col-md-2 button {
    display: flex;
    justify-content: center;
    font-size: 18px;
    border-radius: 7px; }
    #banner #search-box .col-md-2 button .mobile-word {
      display: block;
      margin-left: 5px; }

  .advanced-text {
    display: none; }

  #special-offers-section {
    background-color: #47494A; }

  #special-offers.featured {
    padding: 0 7px 20% 7px; }
    #special-offers.featured .title-featured {
      margin: 0;
      padding: 10% 0;
      color: #ffffff; }

  .car-tile .car-title {
    background-color: #ffffff; }

  .apply, .apply-description {
    background-size: 200%;
    align-items: initial;
    padding: 0 20px; }
    .apply .button-half-apply, .apply .text-half-apply, .apply-description .button-half-apply, .apply-description .text-half-apply {
      top: 0;
      padding-left: 15px; }
    .apply .title-apply, .apply-description .title-apply {
      margin-top: 40px;
      font-size: 5vw; }
    .apply .text-p-apply, .apply-description .text-p-apply {
      font-weight: 400;
      font-size: 5vw; }
    .apply .button-half-apply button, .apply-description .button-half-apply button {
      width: 100%;
      padding: 15px 50px;
      font-size: 4.5vw; }

  .apply {
    min-height: 60vh; }

  .apply-description {
    padding: 2% 20px 15% 20px; }

  .img-under-apply-section {
    display: none; }

  .under-apply-section {
    padding: 8% 0; }
    .under-apply-section .text-half-under-apply-section p {
      font-size: 3.5vw; }

  .pay-us-visit .col-lg-6 p.text-under-hours {
    font-size: 4vw; }
  .pay-us-visit .title-pay-us-visit {
    text-align: left; }
  .pay-us-visit .text-img-pay-us-visit {
    display: flex;
    flex-direction: column; }
    .pay-us-visit .text-img-pay-us-visit p {
      order: 1;
      font-size: 4.5vw; }
      .pay-us-visit .text-img-pay-us-visit p br {
        display: none; }
  .pay-us-visit .col-lg-6 {
    margin-top: 15px; }
    .pay-us-visit .col-lg-6 h6 {
      font-weight: 600;
      font-size: 5.5vw; }
  .pay-us-visit .card-body.card-body-opening-hours ul li .row .col-6:last-child {
    text-align: right; }
  .pay-us-visit .card-body.card-body-opening-hours ul li .row .col-6 {
    font-size: 4.5vw;
    font-weight: 600; } }
@media (min-width: 450px) and (max-width: 768px) {
  #banner #banner-image img {
    height: auto; } }
@media (min-width: 769px) and (max-width: 1000px) {
  #banner #search-box .col-md-2 button, #banner #search-box .col-md-2 select {
    height: 45px; }

  #banner #search-box .col-md-2 button img {
    left: -3px; }

  #banner .top-img img {
    width: auto; }

  #banner .advanced-text {
    margin-top: 15px; }

  .apply .text-half-apply, .apply-description .text-half-apply {
    padding-left: 0; }

  .under-apply-section .container {
    padding: 0; }
  .under-apply-section .img-under-apply-section {
    display: flex;
    align-items: center; }
    .under-apply-section .img-under-apply-section img {
      width: 110%; }

  .pay-us-visit .col-lg-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%; }

  #banner .top-img {
    margin-bottom: 15%; } }
@media (min-width: 1000px) and (max-width: 1200px) {
  #banner .top-img .title-top-img {
    font-size: 1.3rem; }

  .titles-logo.col-md-5 {
    padding-right: 4%;
    -ms-flex: 0 0 33.3%;
    flex: 0 0 33.3%;
    max-width: 33.3%; }

  .title-contact {
    margin-right: 20px; }

  .bottom-half-header .container ul li a .h6-title {
    font-size: 0.7rem; }

  #banner .advanced-text {
    margin-top: 15px; } }
@media (min-width: 320px) and (max-width: 600px) {
  .apply {
    min-height: 100vh; } }
.shortlist {
  background-color: #47494A; }
  .shortlist .car-tile .car-title {
    background-color: #ffffff; }
  .shortlist .featured .title-featured, .shortlist h6 {
    color: white;
    font-family: "Montserrat", sans-serif;
    font-weight: 400; }
  .shortlist h6 {
    margin-bottom: 5%;
    padding: 0 23%; }

@media (max-width: 768px) {
  .shortlist h6 {
    display: none; }

  .shortlist, #special-offers-section {
    background-color: white; }
    .shortlist .featured .title-featured, .shortlist h6, #special-offers-section .featured .title-featured, #special-offers-section h6 {
      color: #000000; } }
.about .about-title {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  background-color: #47494A;
  color: white;
  padding: 4%;
  font-size: 1.9rem;
  text-align: center;
  font-weight: 400; }
.about .about-section {
  background-image: url("../img/about/banner.png");
  background-repeat: no-repeat;
  padding: 7% 0 13% 0;
  background-position: center;
  background-size: cover; }
  .about .about-section p {
    font-family: Arial, sans-serif;
    color: white;
    font-weight: 300;
    margin-bottom: 20px;
    padding-right: 15px; }
  .about .about-section .name {
    margin-top: 50px; }
.about .mobile-title {
  display: none;
  background-color: initial;
  font-weight: 600;
  font-size: 5.5vw;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  color: white;
  padding: 10%;
  text-align: center; }
.about .img-about-section img {
  width: 100%; }

.mobile-header-img {
  display: none;
  background-color: #47494A; }

@media (max-width: 768px) {
  .about {
    margin-top: 51px; }
    .about .about-title {
      display: none; }
    .about .mobile-title {
      display: block;
      padding: 3% 0 7% 0; }
    .about .about-section {
      background-image: url("../img/about/cars-dark.png");
      padding: 7% 0 30% 0; }
      .about .about-section p {
        padding: 8px;
        font-size: 4.5vw;
        margin-bottom: 10px; }
      .about .about-section .name {
        margin-top: 25px;
        margin-left: 7px; }

  .img-about-section {
    display: none; }

  .mobile-header-img {
    display: block;
    background-color: #1f1f1f;
    padding: 15px; }
    .mobile-header-img img {
      width: 95%;
      text-align: center; } }
@media (min-width: 769px) and (max-width: 1000px) {
  .about .about-section .container .row {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .about .about-section .container .row .col-md-6 {
      -ms-flex: 0 0 75%;
      flex: 0 0 75%;
      max-width: 75%; }
    .about .about-section .container .row .img-about-section {
      margin-top: 50px; } }

/*# sourceMappingURL=style.css.map */
